@using Tesco.Com.Web.SmartDelivery.Resources

<div id="navigation-header" class="left">
    <div>
        <strong>@Navigation.NavigateTo</strong>
    </div>
    <div>
       <span id="spnAddress" ></span>
    </div>
    <div>
        <strong>@Navigation.JourneyTime : <span id="spnJourneyTime"></span></strong>
    </div>
     <div>
        <strong>@Navigation.ETA : <span id="spnETA"></span></strong>
    </div>
</div>
<div id="map-area" class="gmapdimensions">
    <table style="width:100%; height:200px; background-color:Window;" >
    <tr>
    <td>
    </td>
    </tr>
    </table>
</div>
<div id="navigation-footer">
    <div  class="both icon-box">
        <a href="/admin" class="">
            <img src="/images/traffic.png" alt="Admin User" />
        </a>
    </div>
    <div  class="both icon-box">
        <a href="/admin" class="">
            <img src="/images/settings-icon.png" alt="Admin User" />
        </a>
    </div>
    <div  class="both icon-box">
        <a href="/admin" class="">
            <img src="/images/task-list.png" alt="Admin User" />
        </a>
    </div>
    <div  class="both icon-box">
        <a id="lnkOrderDetail" href="/orderdetail" class="">
            <img src="/images/order-box.png" alt="order detail" />
        </a>
    </div>
</div>
<div>
    @Navigation.Order <span id="spnOrderSequence"></span> @Navigation.Of <span id="spnTotalCount"></span>
</div>
